html,
body {
    height: 100%;
    overflow: hidden;
}
.imageSplash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../images/EGLogo.png);
	background-size: cover;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-attachment: fixed;
	z-index: 30;
	background-position: center center;
}

.clickScroll {
	z-index: 3;
	opacity: 0;
	height: 0px;
	position: absolute;
}
input[type=checkbox]:checked ~ .imageSplash {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.wrapper {
    height: 100%;
    overflow-y: scroll;
}

@media (max-width: 992px){
.imageSplash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../images/EGLogo.png);
	background-size: cover;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-attachment: fixed;
	z-index: 30;
	background-position: center top;
	display: none;
}
}
